.cabecalho{
    background-color: rgb(36, 7, 150);
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalhi-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 26px 0;
    font-size: 28px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    display: flex;
    color: white;
    background-image: radial-gradient(circle at 31.72% 31.72%, #a667ff 0, #6d56ff 25%, #1e43f3 50%, #0031ca 75%, #0021a4 100%);
}
